.Amazon1>div{
    display: flex;
    height: 300px;
    width: 550px;
    justify-content: space-between;
    padding: 20px;
    background-color: yellow;
    margin: auto;
    margin-top: 40px;

}
.image{
    height: 40px;
    margin-bottom: 150px;
}
.btn{
    color: white;
    background-color: black;
}